<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Race Walking Data Visualizer{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='global.css') }}">
    {% block head_bottom %}
    {% endblock %}
</head>
<body>
<nav>
    <div>
        <a href="/" class="{% if request.path == '/' or request.path == ' ' %}active{% endif %}">Home</a>
        {% for item in nav_items %}
            <a href="{{ item.url }}" class="{% if request.path.startswith(item.url) %}active{% endif %}">
                {{ item.label }}
            </a>
        {% endfor %}
        {% block nav_bottom %}
    {% endblock %}
    </div>
</nav>

<div class="content-wrapper">
    {% block content %}
    {% endblock %}
</div>
</body>
</html>
