<html>

<head>
    <script src="https://unpkg.com/htmx.org"></script>
    <script src="https://unpkg.com/htmx.org/dist/ext/intersection-observer.js"></script>
    <link rel="stylesheet" href="../static/db_view.css">
</head>

<body>
    <div class="tables-wrapper">
        <div hx-ext="intersection-observer">
            {% for table in tables %}
            <div class="table-placeholder" hx-get="{{ url_for('data.load_table', table=table) }}"
                hx-trigger="intersect once" hx-swap="outerHTML">
                Loading {{ table }}...
            </div>
            {% endfor %}
        </div>
    </div>
</body>

</html>