<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Race Graph</title>
    <link href="https://cdn.bokeh.org/bokeh/release/bokeh-3.4.3.min.css" rel="stylesheet" type="text/css">
    <script src="https://cdn.bokeh.org/bokeh/release/bokeh-3.4.3.min.js"></script>
    <style>
        .dual-list-box {
            display: flex;
            align-items: center;
            gap: 20px;
        }
        .list-box {
            width: 150px;
            height: 200px;
        }
        .buttons {
            display: flex;
            flex-direction: column;
            gap: 10px;
        }
    </style>
</head>
<body>
    <h1>Race {{ race_id }} Graph Generator</h1>

    <form action="{{ url_for('graphs.generate_graph_route', race_id=race_id) }}" method="GET" target="_blank" onsubmit="openGraphInNewTab(event)">
      <div class="dual-list-box">
          <select id="availableAthletes" name="available_athletes" class="list-box" multiple>
              {% for athlete_id in athlete_ids %}
                  <option value="{{ athlete_id }}">{{ athlete_id | int }}</option>
              {% endfor %}
          </select>
  
          <div class="buttons">
              <button type="button" onclick="moveToSelected()">→</button>
              <button type="button" onclick="moveToAvailable()">←</button>
          </div>
  
          <select id="selectedAthletes" name="selected_athletes" class="list-box" multiple>
          </select>
      </div>
  
      <button type="submit">Generate Graph</button>
  </form>

    <script>
        function openGraphInNewTab(event) {
          event.preventDefault();

          const form = event.target;
          const actionUrl = form.action + '?' + new URLSearchParams(new FormData(form)).toString();

          // Open the new tab with the generated graph
          window.open(actionUrl, '_blank');
        }

        function moveToSelected() {
            const available = document.getElementById('availableAthletes');
            const selected = document.getElementById('selectedAthletes');
            const selectedOptions = [...available.selectedOptions];

            selectedOptions.forEach(option => {
                selected.add(option);
            });
        }

        function moveToAvailable() {
            const available = document.getElementById('availableAthletes');
            const selected = document.getElementById('selectedAthletes');
            const selectedOptions = [...selected.selectedOptions];

            selectedOptions.forEach(option => {
                available.add(option);
            });
        }
    </script>
</body>
</html>
