<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Race Graph</title>
    <link href="https://cdn.bokeh.org/bokeh/release/bokeh-3.4.3.min.css" rel="stylesheet" type="text/css">
    <script src="https://cdn.bokeh.org/bokeh/release/bokeh-3.4.3.min.js"></script>
    <script src="https://unpkg.com/htmx.org"></script>
    <style>
        .dual-list-box {
            display: flex;
            align-items: center;
            gap: 20px;
        }
        .list-box {
            width: 150px;
            height: 200px;
        }
        .buttons {
            display: flex;
            flex-direction: column;
            gap: 10px;
        }
    </style>
</head>
<body>
    <h1>Race Graph Generator</h1>
    {% block content %}
    
        <div class="row">
            <div id="linechart" class="col-10">
                {% include 'graphs_partial.html' %}
            </div>
            <div class="col-2">
                <label>Race</label>
                <select id="select-race" 
                        class="custom-select" 
                        name="race"
                        autocomplete="off"
                        hx-get="/graphs/get-available-athletes/" 
                        hx-target="#available-items" 
                        hx-trigger="change"
                        hx-params="race">
                    {% for r in race_ids %}
                        <option value="{{ r }}" 
                                {% if race == r %} selected {% endif %}>
                            {{ r }}
                        </option>
                    {% endfor %}
                </select>
            </div>
        </div>
    
        <div>
            <select id="available-items" multiple name="available-items" size="10" style="width: 200px; height: 200px;">
                {% for a in available_athletes %}
                    <option value="{{ a }}" 
                            {% if athlete == a %} selected {% endif %}>
                        {{ a }}
                    </option>
                {% endfor %}
            </select>
    
            
        <!-- Buttons to move items -->
        <div class="buttons">
            <!-- Buttons to move items -->
            <button 
                hx-post="/graphs/graph-add/" 
                hx-target="#available-items, #selected-items" 
                hx-trigger="click"
                hx-include="#available-items .selected, ">
                Add >>
            </button>
            <button 
                hx-post="/graphs/graph-remove/" 
                hx-target="#available-items, #selected-items" 
                hx-trigger="click"
                hx-include="#selected-items .selected">
                << Remove
            </button>

        </div>
            <select id="selected-items" multiple size="10" name="selected-items" style="width: 200px; height: 200px;">
                {% for s in selected_athletes %}
                    <option value="{{ s }}" 
                            {% if selected_athlete == s %} selected {% endif %}>
                        {{ s }}
                    </option>
                {% endfor %}
            </select>
        </div>

        
    {% endblock %}

    <script>
    </script>
</body>
</html>