<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Race Walking Data Visualizer</title>
</head>
<body>
<h1>Race Walking Data Visualizer</h1>
<ul>
    {#
    This is a jinja template, which is really just an html file, but
    you can, in brackets like this, reference python variables you pass in when you render it
    and extend other templates, etc. Really it's what the name template implies: it's a place
    to write your html text, which you can then manage and control and modify programmatically
    in python, if you want to do anything fancy. This one is just raw html.
    #}
    <li><a href="/data">Data Modifier</a></li>
    <li><a href="/tables">Data Tables</a></li>
    <li><a href="/graphs">Data Graphs</a></li>
    <li><a href="/webscraper">Web Scraper</a></li>
</ul>
</body>
</html>