<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Table Page!</title>
    <link rel="stylesheet" href="{{ url_for("static", filename="tables.css") }}">
</head>
<body>

<label for="style-select">Choose a style:</label>
<select id="style-select" onchange="updateQueryParams('style', this.value)">
    <option value="default-style" {% if table_style == "default-style" %}selected{% endif %}>Default</option>
    <option value="striped" {% if table_style == "striped" %}selected{% endif %}>Striped</option>
    <option value="bordered" {% if table_style == "bordered" %}selected{% endif %}>Bordered</option>
    <option value="highlighted" {% if table_style == "highlighted" %}selected{% endif %}>Highlighted</option>
</select>
<br>

<label for="db-select">Choose a database:</label>
<select id="db-select" onchange="updateQueryParams('db', this.value)">
    {% for db in db_options %}
        <option value="{{ db }}" {% if db_file == db %}selected{% endif %}>{{ db }}</option>
    {% endfor %}
</select>
<br>

<label for="query-select">Choose a query:</label>
<select id="query-select" onchange="updateQueryParams('query', this.value)">
    {% for query in query_options %}
        <option value="{{ query }}" {% if query_file == query %}selected{% endif %}>{{ query }}</option>
    {% endfor %}
</select>
<br>

{% if needed_parameters %}
    <div id="parameter-container">
        <h4>Enter query parameters:</h4>
        {% for param in needed_parameters %}
            <label for="{{ param }}">{{ param }}:</label>
            <input type="text" id="{{ param }}" name="{{ param }}" value="{{ query_params.get(param, "") }}"
                   onchange="updateQueryParams('{{ param }}', this.value)">
            <br>
        {% endfor %}
    </div>
    <br>
{% endif %}

<form action="{{ url_for("tables.download_pdf") }}" method="get">
    <input type="hidden" name="query" value="{{ query_file }}">
    <input type="hidden" name="db" value="{{ db_file }}">
    <input type="hidden" name="style" value="{{ table_style }}">
    {% for param, value in query_params.items() %}
        <input type="hidden" name="{{ param }}" value="{{ value }}">
    {% endfor %}
    <button type="submit">Download PDF</button>
</form>
<br>

<div id="table-container">
    {{ table | safe }}
</div>

<script>
    // it would be technically be better if changing the style didn't reload the whole page, but who cares
    function updateQueryParams(key, value) {
        const url = new URL(window.location.href);
        url.searchParams.set(key, value);
        window.location.href = url.toString();
    }
</script>
</body>
</html>
