<div class="table-container" id="table-container-{{ table }}">
    <h2 style="display: flex; justify-content: space-between; align-items: center;">
        Table: {{ table }}
        <input type="text" name="search_term" placeholder="Search" 
            value="{{ request.args.get('search_term', '') }}" 
            hx-get="{{ url_for('data.load_table', table=table) }}" 
            hx-target="#table-container-{{ table }}" 
            hx-swap="outerHTML" 
            hx-trigger="keyup[key=='Enter']"
            style="padding: 5px; font-size: 14px;" />
    </h2>
    <table border="1" id="{{ table }}">
        <thead>
            <tr>
                {% for col in content.columns %}
                <th>
                    <a href="#" hx-get="{{ url_for('data.load_table', 
                            table=table, 
                            sort=col,
                            order='desc' if content.sort_by == col and content.order == 'asc' else 'asc',
                            page=1) }}" hx-swap="outerHTML" hx-target="closest div">
                        {{ col }}
                        {% if content.sort_by == col %}
                        {{ '▼' if content.order == 'desc' else '▲' }}
                        {% endif %}
                    </a>
                </th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for row in content.rows %}
            <tr>
                {% for item in row %}
                <td>
                    <div class="editable" hx-target="closest td"
                        hx-patch="{{ url_for('data.update_cell', table=table, column=content.columns[loop.index0], pk=row[0]) }}"
                        contenteditable="true" hx-trigger="blur" hx-swap="outerHTML"
                        hx-include="next input[name='value']" oninput="this.nextElementSibling.value = this.innerText">
                        {{ item }}
                    </div>
                    <input type="hidden" name="value" value="{{ item }}" />
                </td>
                {% endfor %}
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <div class="pagination">
        {% if content.current_page > 1 %}
        <a href="#"
            hx-get="{{ url_for('data.load_table', table=table) }}?page={{ content.current_page - 1 }}&sort={{ content.sort_by }}&order={{ content.order }}"
            hx-target="#table-container-{{ table }}" hx-swap="outerHTML">Previous</a>
        {% endif %}

        <span>Page {{ content.current_page }} of {{ content.total_pages }}</span>

        {% if content.current_page < content.total_pages %}
        <a href="#"
            hx-get="{{ url_for('data.load_table', table=table) }}?page={{ content.current_page + 1 }}&sort={{ content.sort_by }}&order={{ content.order }}"
            hx-target="#table-container-{{ table }}" hx-swap="outerHTML">Next</a>
        {% endif %}
    </div>
</div>